@import "../../scss/colors";
@import "../../scss/breakpoints";

.contact-links {
  font-family: "Circular", "Lotion", sans-serif;
  font-size: 1.2em;
  text-align: center;
  margin-top: 50px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;

  @include mobile {
    flex-direction: column;
    margin-top: 80px;
    padding-bottom: 80px;
  }

  span {
    @include mobile {
      margin: 20px 0;
    }

    &:after {
      content: "⊱";
      color: $a_blue;
      margin: 0 25px;

      @include mobile {
        content: "";
        margin: 0;
      }
    }

    &:nth-child(2) {
      &:after {
        content: "";
        margin: 0;
      }
    }
  }

  a {
    position: relative;
    text-decoration: none;
    color: $a_blue;

    &:hover {
      color: $white;
      background-color: $a_brown;

      // &:after {
      //   width: 100%;
      // }
    }
  }
}
