@import "../../scss/colors";
@import "../../scss/breakpoints";

.intro {
  margin: 0 300px;
  margin-top: 18vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @include mobile {
    margin-top: 10vh;
  }

  .intro-title {
    max-width: 1000px;
    margin: 0 35px;
    padding: 0 1px;
    font-family: "Victor-Mono-Bold", "Lotion", Consolas, "Lucida Console",
      monospace;
    font-size: 3.1em;
    font-weight: 700;
    color: black;

    &:before {
      content: "> ";
    }

    @include mobile {
      font-size: 2em;
      padding: 0 20px;
    }

    span {
      background-color: rgba($a_darkblue, 0.7);
      animation: caret 1s steps(1) infinite;
      transition: all 80ms;
    }

    @keyframes caret {
      40% {
        background-color: transparent;
      }
    }
  }

  .intro-description {
    max-width: 1250px;
    // margin: 0 auto;
    padding: 50px 40px;
    text-align: left;
    font-family: "Circular", Open Sans;
    font-weight: 500;
    font-size: 1.22em;
    line-height: 35px;
    color: $a_darkblue;

    @include mobile {
      font-size: 1.2em;
      line-height: 30px;
      max-width: 100%;
      margin: 50px 0;
    }

    a {
      font-weight: bold;
      color: $a_blue;
      text-decoration: none;
    }
  }
}
