@import "../../scss/colors";
@import "../../scss/breakpoints";

.intro {
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 18vh;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  @include tablet {
    padding: 0 50px;
    margin: 0 !important;
    margin-top: 100px !important;
  }
  @include mobile {
    padding: 0px !important;
    margin: 0 !important;
    margin-top: 100px !important;
  }

  .intro-title {
    max-width: 1000px;
    // margin: 0 35px;
    padding: 0 5px;
    font-family: "Victor-Mono-Bold", "Lotion", Consolas, "Lucida Console",
      monospace;
    font-size: 3.1em;
    font-weight: 700;
    color: black;

    &:before {
      // content: "> ";
      content: "→ ";
    }

    @include mobile {
      margin: 0 auto;
      font-size: 2.3em;
      margin-bottom: 35px;
    }

    // span {
    //   background-color: rgba($a_darkblue, 0.7);
    //   animation: caret 1s steps(1) infinite;
    //   transition: all 80ms;
    // }

    // @keyframes caret {
    //   40% {
    //     background-color: transparent;
    //   }
    // }
  }

  .intro-description {
    max-width: 1050px;
    margin: 1 auto;
    padding: 50px 5px;
    text-align: left;
    font-family: "Circular", Open Sans;
    font-weight: 500;
    font-size: 1.22em;
    line-height: 35px;
    color: black;

    @include mobile {
      font-size: 1em;
      line-height: 30px;
      padding: 20px 50px;
      // max-width: 100%;
      // margin: 50px 0;
    }

    a {
      font-weight: bold;
      // color: black;
      color: #6688a8;
      text-decoration: underline;
    }
    a:hover {
      color: #ffffff;
      background-color: #9a8c98;
    }
  }
}
