@import "../scss/colors";
@import "../scss/breakpoints";

.navbar-container {
  // position: sticky;
  background-color: $a_beige;
  overflow: hidden;
  // color: white;
  padding: 0.5em;
  top: 0;
  display: flex;
  justify-content: flex-end;
  // margin: 0 60px;
  // z-index: 9999;
  // border-bottom: 1px solid rgb(0, 0, 0);
  // padding-bottom: 20px;

  @include mobile {
    justify-content: center;
    width: 50%;
  }
  // .name {
  //   font: "Lotion";
  //   position: fixed;
  //   display: left;
  //   color: $a_darkblue;
  // }
  .navbar {
    color: #fff;
    display: flex;
    justify-content: space-around;
    width: 525px;
    font-weight: bolder;
    font-family: "Lotion", sans-serif;
    font-size: 1.2em;
    margin-top: 40px;

    @include mobile {
      font-size: 0.8em;
      justify-content: center;
    }

    a {
      position: relative;
      text-decoration: none;
      color: $a_blue;

      &:after {
        display: block;
        position: absolute;
        left: 0;
        bottom: -10px;
        width: 0;
        height: 4px;
        background-color: $a_brown;
        content: "";
        transition: width 0.1s;
      }

      &:hover {
        color: $a_brown;

        &:after {
          width: 100%;
        }
      }
    }
  }
}
