$purple: #747fe0;
$grey: #525f7f;
$lightGrey: #f0f0f0;
$fadedPurple: hsl(234, 15%, 42%);
$fadedBlue: #7795f8;
$highlighterGreen: #92eac0;
$linkTeal: #35feff;
$darkForestGreen: #84a59d;
$pastelCoral: #f28482;
$pastelBeige: #fed9b7;
$brightbrightYellow: #fff3b0;
$bg: #231f20;
$darkgrey: #333533;
$p_yellow: #f3dfa2;
$p_red: #bb4430;
$p_blue: #7ebdc2;
$p_blue_lighter: #cbe4e6;
$p_neutralbeige: #efe6dd;
$white: #ffffff;
$terminal_redbg: #f96256;
$terminal_yellowbg: #fdbc3d;
$terminal_greenbg: #33c948;
$a_beige: #f8edeb;
$a_darkblue: #22223b;
$a_blue: #4a4e69;
$a_brown: #9a8c98;
$a_nude: #c9ada7;
$b_grey: #e5e5e5;
