@import "colors";
@import "breakpoints";
@import "../component/About";

@font-face {
  font-family: "Victor-Mono-Bold";
  src: url("./font/victormono-bold.woff") format("woff");
}

@font-face {
  font-family: "Lotion";
  src: url("./font/lotion.woff") format("woff");
}

@font-face {
  font-family: "Monaco";
  src: url("./font/monaco-webfont.woff") format("woff");
}

body {
  background-color: $a_beige;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-feature-settings: "pnum";
  font-variant-numeric: proportional-nums;
}

a {
  text-decoration: none;
  transition: 0.1s ease-in-out;

  &:hover {
    opacity: 0.8;
  }
}

#topBackground {
  position: absolute;
  top: 0;
  width: 100%;
  height: 760px;
  transform: skewY(-12deg);
  transform-origin: 0;
  background-color: rgb(117, 113, 113);
  z-index: -999;

  @include mobile {
    height: 500px;
  }
}
